:root{
  --primary-font-family: 'Poppins', sans-serif;
}
  /* Topbar Start */
.d2c_top_bar{
  padding: 20px 0px;
  background: #FFF;
}
  /* Topbar Image Start */
.d2c_top_bar .d2c_top_logo img{
  width: 207.449px;
  height: 28.584px;
}
.d2c_top_bar .d2c_top_content span a{
  font-size: 24px;
  color: #333;
  margin-right: 10px;
}
.d2c_top_bar .d2c_top_content span a:hover{
  color: #49B4D7;
}
  /* Topbar Heaading Start */
.d2c_top_bar .d2c_top_content h3{
  color: #333;
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
}
  /* Topbar Description Start */
.d2c_top_bar .d2c_top_content p{
  color: #333;
  font-family: var(--primary-font-family);
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0px;
}
.d2c_top_bar span::before{
  position: absolute;
  content: '';
  background: #333;
  width: 0.5px;
  height: 28px;
  left: -10px;
  top: 4px;
}
  /* Navbar Start */
.navbar{
  padding: 45px 0px;
  background: #323232;
}
  /* Navbar Toggoler Icon Start */
.navbar .navbar-toggler{
  background: #49B4D7;
  border-radius: 8px;
}
.navbar-toggler:focus{
  box-shadow: none;
}
   /* Navbar List Start */
.navbar .nav-item .nav-link{
  color: #F6F6F6;
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 700;
  margin-right: 40px;
  text-transform: uppercase;
  transition: all .3s ease;
}
.navbar .nav-link.active{
  color: #49B4D7;
}
.navbar .nav-link:hover{
  color: #49B4D7;
}
.navbar .d2c_nav_right span{
  color: #F6F6F6;
  margin-right: 10px;
}
.navbar .d2c_nav_right a{
  text-decoration: none;
  color: #F6F6F6;
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
  /* Hero Section Start */
.d2c_hero{
  padding: 220px 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.90) 100%), url('../images/hero_img/hero_bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
  /* Hero Title Start */
.d2c_hero .d2c_hero_title{
  color: #F6F6F6;
  font-family: var(--primary-font-family);
  font-size: 62px;
  font-weight: 700;
  text-transform: uppercase;
}
.d2c_hero .d2c_hero_title span{
  color: #49B4D7;
}
 /* Hero Description Start */
.d2c_hero .d2c_hero_description{
  color: #BBB;
  font-family: var(--primary-font-family);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 43px;
}
  /* Hero Section Button Start */
.d2c_hero .btn{
  padding: 18px 51px;
  color: #3E3E3E;
  font-family: var(--primary-font-family);
  font-size: 19px;
  font-weight: 700;
  border: 1px solid #49B4D7;
  border-radius: 10px;
  background: #49B4D7;
  transition: all .4s ease;
}
.d2c_hero .btn:hover{
  background: transparent;
  color: #ffff;
}
.d2c_hero .btn:active{
  border-color:  #49B4D7;
}
.d2c_hero .d2c_hero_right img{
  width: 678px;
  height: 459px;
}
  /* Hero Section End */

  /* Gallery Box Start */
.d2c_gallery_box{
  padding: 205px 0px;
  background: #FFF;
}  
  /* Gallery Box Title Start */
.d2c_gallery_box .d2c_gallery_title{
  color: #074760;
  font-family: var(--primary-font-family);
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 60px;
}
  /* Gallery Box Image Start */
.d2c_gallery_box .d2c_gallery_img img{
  width: 316px;
  height: 276px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 0px rgba(255, 100, 118, 0.05);
  object-fit: cover;
}

  /* Accessories Section Start */
.d2c_accessories{
  padding: 109px 0px;
  background: linear-gradient(180deg, rgba(7, 71, 96, 0.80) 0%, rgba(7, 71, 96, 0.80) 0.01%, #031C26 100%);
  position: relative;
  overflow: hidden;
}  
  /* Accessories Section Title Start */
.d2c_accessories .d2c_accessories_title{
  color: #F9F7F7;
  font-family: var(--primary-font-family);
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 51px;
}
  /* Accessories Section Button Start */
.d2c_accessories .btn{
  padding: 23px 41px;
  color: #3E3E3E;
  font-family: var(--primary-font-family);
  font-size: 19px;
  font-weight: 700;
  border: 1px solid #49B4D7;
  border-radius: 10px;
  background: #49B4D7;
  transition: all .4s ease;
}
.d2c_accessories .btn:hover{
  background: transparent;
  color: #49B4D7;
}
  /* Accessories Section Image Start */
.d2c_accessories .d2c_acc_img{
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
  width: 50%;
  height: 470px;
}
.d2c_accessories .d2c_acc_img img{
  width: 950px;
  height: 470px;
  border-radius: 220px 10px 10px 220px;
  box-shadow: -2px 0px 28px 0px rgba(247, 146, 30, 0.07);
  object-fit: cover;
}
  /* Accessories Section End */

  /* FAQ Section Start */
.d2c_accordion{
  background-image: url('../images/faq/faq_bg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 147px 0px 225px 0px;
  background-color: #fff;
} 
  /* FAQ Section Start */
.d2c_accordion .d2c_accordion_title{
  color: #074760;
  font-family: var(--primary-font-family);
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 79px;
}
.d2c_accordion .accordion-item{
  margin-bottom: 40px;
  border-radius: 10px;
} 
.d2c_accordion .accordion-item:last-child{
  margin-bottom: 0px;
}
.d2c_accordion .accordion-header .accordion-button{
  padding: 27px 21px;
  color: #4D4D4D;
  font-family: var(--primary-font-family);
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background: rgba(7, 71, 96, 0.05);
}
.d2c_accordion .accordion-button:focus{
  color: #074760;
  box-shadow: none;
  background: rgba(7, 71, 96, 0.05);
}
.d2c_accordion .accordion-body{
  background: rgba(7, 71, 96, 0.05);
  padding: 27px 21px;
  font-family: var(--primary-font-family);
  font-size: 18px;
  font-weight: 400;
}
  /* FAQ Section End */

  /* Contact Secion Start */
.d2c_contact{
  padding: 272px 0px;
  background-image: linear-gradient(90deg, rgba(23,24,25,0.9669117647058824) 100%, rgba(23,24,25,1) 100%), url('/one_page/assets/images/contact/contact_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.d2c_contact .d2c_contact_img img{
  width: 588px;
  height: 372px;
  object-fit: cover;
} 
  /* Contact Secion Form Start */
.d2c_contact .form-control{
  padding: 24px 0px 24px 24px;
  border-radius: 5px;
  border: 1px solid #49B4D7;
  background: rgba(7, 71, 96, 0.10);
  color: #FAFAFA;
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 25px;
}
.d2c_contact .form-control:focus{
  box-shadow: none;
}
.d2c_contact .form-control::placeholder{
  color: #FAFAFA;
  text-transform: uppercase;
}
  /* Contact Secion Button Start */
.d2c_contact .d2c_btn{
  padding: 13px 69px;
  border-radius: 5px;
  border: 1px solid #49B4D7;
  background: rgba(7, 71, 96, 0.10);
  color: #FFF;
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.d2c_contact .d2c_btn:hover{
  transition: all .4s ease;
  background-color: #49B4D7;
}
  /* Contact Secion End */

  /* news-letter Section Start */
.d2c_newsletter{
  padding: 98px 0px 81px 0px;
  background: linear-gradient(90deg, rgba(7,71,96,0.9136904761904762) 100%, rgba(7,71,96,0.9332983193277311) 100%), url('../images/newsletter/newsletter_bg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; 
} 
  /* news-letter Section Title Start */
.d2c_newsletter .d2c_newsletter_title{
  color: #FFF;
  font-family: var(--primary-font-family);
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 38px;
}
  /* news-letter Section description Start */
.d2c_newsletter .d2c_newsletter_description{
  color: #F4F4F4;
  font-family: var(--primary-font-family);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 39px;
}
.d2c_newsletter .form-control{
  padding: 17px 0px 17px 25px;
  border-radius: 5px;
  border: 1px solid #49B4D7;
  background: rgba(155, 205, 225, 0.10);
  color: #FFF;
}
.d2c_newsletter .form-control:focus{
  box-shadow: none;
}
.d2c_newsletter .form-control::placeholder{
  color: #FFF;
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 400;
}
  /* news-letter Section button Start */
.d2c_newsletter .btn{
  padding: 13px 192px;
  border-radius: 5px;
  border: 1px solid #49B4D7;
  background: rgba(7, 71, 96, 0.10);
  color: #FFF;
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.d2c_newsletter .btn:active{
  border-color: #49B4D7;
  color: #ffff;
}
  /* news-letter Section End */

  /* Footer Section Start */
.d2c_footer{
  padding: 18px 0px;
  background: #205970;
} 
.d2c_footer p{
  margin-bottom: 0px;
  color: #F6F6F6;
  font-family: var(--primary-font-family);
  font-size: 15px;
  font-weight: 400;
}
.d2c_footer p a{
  color: #F6F6F6;
  font-family: var(--primary-font-family);
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
} 
.d2c_footer .d2c_btn{
  color: #F6F6F6;
  font-family: var(--primary-font-family);
  font-size: 15px;
  font-weight: 400;
  border: none;
  background: none;
}
.d2c_footer .dropdown-menu .dropdown-item{
  color: #F6F6F6;
  background: #205970;
}
.d2c_footer .dropdown-menu.show{
  padding: 0px;
  border: none;
}
.d2c_footer .d2c_condition a{
  color: #F6F6F6;
  font-family: var(--primary-font-family);
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}
.d2c_footer .d2c_icon i{
  padding: 15px;
 
  color: #ffff;
  border-radius: 50%;
  background: #366A7E;
}
  /* Footer Section End */


/* responsive */
@media only screen and (min-width: 0px) and (max-width: 576px) {
  /* Topbar Start */
  .d2c_top_bar {
    padding: 16px 0px;
  }
  .d2c_top_bar .d2c_top_logo img{
   height: 100%;
  }
  /* Navbar Start */
  .navbar{
    padding: 12px 0px;
  }
  /* Hero Section Start */
  .d2c_hero {
    padding: 100px 0px;
  }
  .d2c_hero .d2c_hero_title {
    font-size: 38px;
  }
  .d2c_hero .d2c_hero_description {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .d2c_hero .btn {
    padding: 14px 28px;
    font-size: 16px;
  }
  .d2c_hero .d2c_hero_right img{
    height: 100%;
    margin-top: 80px;
  }
  /* Gallery Box Start */
  .d2c_gallery_box {
    padding: 70px 0px;
  }
  .d2c_gallery_box .d2c_gallery_title {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .d2c_gallery_box .d2c_gallery_img img{
    width: 100%;
  }
  /* Accessories Section Start */
  .d2c_accessories {
    padding: 70px 0px;
  }
  .d2c_accessories .d2c_accessories_title {
    font-size: 28px;
    margin-bottom: 22px;
  }
  .d2c_accessories .btn {
    padding: 14px 20px;
    font-size: 16px;
  } 
  /* FAQ Section Start */
  .d2c_accordion {
    padding: 70px 0px;
  }
  .d2c_accordion .d2c_accordion_title {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .d2c_accordion .accordion-header .accordion-button {
    padding: 10px 20px;
    font-size: 14px;
  }
  .d2c_accordion .accordion-body{
    padding: 12px 16px;
    font-size: 14px;
  }
  .d2c_accordion .accordion-item{
    margin-bottom: 24px;
  }
  /* Contact Section Start */
  .d2c_contact{
    padding: 70px 0px;
  }
  .d2c_contact .d2c_contact_img img{
    margin-bottom: 45px;
  }
  .d2c_contact .form-control{
    padding: 16px 16px;
  }
  /* News-letter Section Start */
  .d2c_newsletter{
    padding: 70px 0px;
  }
  .d2c_newsletter .d2c_newsletter_title{
    font-size: 23px;
    margin-bottom: 18px;
  }
  .d2c_newsletter .d2c_newsletter_description{
    font-size: 14px;
    margin-bottom: 16px;
  }
  .d2c_newsletter .btn{
    padding: 14px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) { 
  /* Top-bar Start */
  .d2c_top_bar{
    padding: 16px 0px;
  }
  .d2c_top_bar .d2c_top_logo img{
    height: 100%;
  }
  /* Navbar Start */
  .navbar{
    padding: 14px 0px;
  }
  /* Hero Section Start */
  .d2c_hero{
    padding: 100px 0px;
  }
  .d2c_hero .d2c_hero_title{
    font-size: 54px;
  }
  .d2c_hero .d2c_hero_description{
    font-size: 16px;
    margin-bottom: 28px;
  }
  .d2c_hero .btn {
    padding: 14px 28px;
    font-size: 16px;
  }
  .d2c_hero .d2c_hero_right img{
    height: 100%;
    margin-top: 80px;
  }
  /* Gallery Box Start */
  .d2c_gallery_box{
    padding: 70px 0px;
  }
  .d2c_gallery_box .d2c_gallery_title{
    font-size: 33px;
    margin-bottom: 40px;
  }
  /* Accessories Section Start */
  .d2c_accessories{
  padding: 70px 0px;  
  }
  .d2c_accessories .d2c_accessories_title{
    font-size: 35px;
    margin-bottom: 26px;
  }
  .d2c_accessories .btn{
    padding: 17px 21px;
    font-size: 16px;
  }
  /* FAQ Section Start */
  .d2c_accordion{
    padding: 70px 0px;
  }
  .d2c_accordion .d2c_accordion_title{
    font-size: 32px;
    margin-bottom: 30px;
  }
  .d2c_accordion .accordion-header .accordion-button{
    padding: 16px 17px;
    font-size: 16px;
  }
  .d2c_accordion .accordion-body{
    font-size: 14px;
  }
  .d2c_accordion .accordion-item{
    margin-bottom: 24px;
  }
  /* Contact Section Start */
  .d2c_contact{
    padding: 70px 0px;
  }
  .d2c_contact .d2c_contact_img img{
    margin-bottom: 45px;
  }
  .d2c_newsletter{
    padding: 70px 0px;
  }
  .d2c_newsletter .d2c_newsletter_title{
    font-size: 35px;
  }
  /* news-letter Section Start */
  .d2c_newsletter .btn{
    padding: 13px 80px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* Hero Image Start */
  .d2c_hero .d2c_hero_right img{
    height: 100%;
    margin-top: 100px;
  }
  /* Accessories Section Start */
  .d2c_accessories{
    padding: 70px 0px;
  }
  /* Contact Section Start */
  .d2c_contact {
    padding: 150px 0px;
  }
  .d2c_contact .d2c_contact_img img{
    margin-bottom: 45px;
  }
  /* news-letter Section Start */
  .d2c_newsletter{
    padding: 80px 0px;
  }
  .d2c_newsletter .d2c_newsletter_title {
    font-size: 49px;
    margin-bottom: 8px;
  }
  .d2c_newsletter .d2c_newsletter_description {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /* Header Start */
  .d2c_top_bar .d2c_top_content p {
    font-size: 10px;
  }
  .navbar .nav-item .nav-link{
    margin-right: 0px;
  }
  .d2c_hero .d2c_hero_right img{
    height: 100%;
  }
  /* Accessories Section Start */
  .d2c_accessories .d2c_accessories_title{
    font-size: 42px;
    margin-bottom: 42px;
  }
  .d2c_accessories .btn{
    padding: 17px 21px;
    font-size: 16px;
  }
  /* news-letter Section Start */
  .d2c_newsletter .d2c_newsletter_title{
    margin-bottom: 16px;
  }
  .d2c_newsletter .d2c_newsletter_description{
    margin-bottom: 16px;
  }
  .d2c_newsletter .btn {
    padding: 10px 28px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  /* Hero Start */
  .navbar .nav-item .nav-link{
    margin-right: 18px;
  }
  .d2c_hero .d2c_hero_right img{
    height: 100%;
  }
  /* Accessories Section Start */
  .d2c_accessories .d2c_accessories_title {
    font-size: 49px;
  }
  /* news-letter Section Start */
  .d2c_newsletter .btn {
    padding: 13px 185px;
  }
}
